.map_container div {
	background-repeat: no-repeat;
}

#image_map {
	height: 150px;
}

@media screen and (max-width: 640px) {
/*#image_map {
 	height: 200px;
 }*/
}

#img_container {
	display: inline-block;
}

#map_point {
	position: absolute;
}

#preview {
	position: relative;
	z-index: -1;
}
