.card-action {
	display: flex;
}
.register {
	margin: auto !important;
	margin-left: 0!important;
}
.main {
	margin-top: 15px;
}
.container {
	padding: 10px 0;
}
.prefix {
	margin-top: 7px;
}
.remember_me_container {
	margin-left: 5px;
}
._submit {
	background-color: #26a69a;
}

.btn:hover, .btn-large:hover {
    background-color: #8f7cbc !important;
}
.btn, .btn-large {

    background-color: #8f7cbc !important;
}

.input-field .prefix.active{
	color:#8f7cbc !important;
}

[type="checkbox"]:checked+label:before{
	    border-right: 2px solid #8f7cbc;
    border-bottom: 2px solid #8f7cbc;
}

#black-text{
color:black;	
}

#clear-bottom{
clear: both;
}

body{
	 background-color: #f5f5f5;
}
