.social {
	position: fixed;
	right: 0;
	z-index:1;
}

.social li{
	padding: 3px 0;
}

.facebook {
	background-image: url('../../assets/img/FB-logo.png');
	background-size: 30px;
	height: 30px;
    width: 30px;
    display: inline-block;
    background-repeat: no-repeat;
}

.twitter {
	background-image: url('../../assets/img/TW-logo.png');
	background-size: 30px;
	height: 30px;
    width: 30px;
    display: inline-block;
    background-repeat: no-repeat;
}

.google_plus {
	background-image: url('../../assets/img/GP-logo.png');
	background-size: 30px;
	height: 30px;
    width: 30px;
    display: inline-block;
    background-repeat: no-repeat;
}