<!DOCTYPE html>
<html lang="fr" class="no-js home ui-state-init">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">   
        <meta charset="UTF-8" />
        {% block meta_share %}
            <meta property="og:url" content="{{ path('homepage') }}" />
            <meta property="og:type" content="website" />
            <meta property="og:title" content="Versus" />
            <meta property="og:description" content="Site de sondage par region" />
            <meta property="og:image" content="{{ asset("assets/img/logo_violet.png") }}" />
        {% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="initial-scale=1">
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block content %}
            {% endblock %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>