<!Doctype html>
<html lang="fr"
    <head>
      <title>Versus website</title>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
      <meta charset="utf-8">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>

 <nav class="nav-extended" id="color-purple">
    <div class="nav-wrapper">
    	<img alt="Logo Versus" data-activates="mobile-demo" class="brand-logo " id="logo-versus"  src="assets/img/logo_blanc.png"/>
      <a href="#!" class="brand-logo "  id="text-logo" >Versus</a>
      <a href="#!" class="brand-logo center" id="text-titre">Mon compte</a>
        <div class="right-align" id="logo-user" >
        	   <a href="#" ><img class="margin-rightSide" alt="icone utilisateur"  src="assets/img/ic_supervisor_account_black_24dp_2x.png"/></a>  
             
                 <p> Bienvenue Pseudo ! </p>
            
        </div>

       
                    
    </div>

  </nav> 



<!--CREATION DE SONDAGE-->


  <div class="row"  id="gray-color" style="height:100%;">

      <div class="container"  >
 
        <div class="col s6 m6 l4" >
          <div class="card small white " style="border:dotted;">

            <div class="card-content wite-text gray" >
              <a class="center btn-floating btn-large waves-effect waves-light deep-purple lighten-2"  style="margin-top:30%;margin-left:40%;" >
                <i class="material-icons">add</i>
              </a>

            </div>
 
          </div>
        </div>
   
                                  <!----------AFFICHAGE SONDAGE---------->



                                <!--Block 1-->

      <div class="col s6 m6 l4">
          <div class="card small white">
            <div class="card-content wite-text " style="background-color:#e0e0e0;">
              <span class="card-title">Card Title</span>
            </div>
              <div class="card-content wite-text " >
                  <div class="center-align">
                        <p>Carte : EEEEE</p> <!-- Nom de la carte -->
                        <p> X</p> <!-- Nombre de réponses -->
                        <p>Réponse(s) </p> 
                        <br/>

                        <!-- Switch -->

                        <div class="switch" >
                            <label>
                              Off
                              <input type="checkbox">
                              <span class="lever"></span>
                              Publié
                            </label>
                        </div>
                  </div>
              </div>
              <div class="card-action deep-purple lighten-2"  >
                <div  class="center-align" >
              <a href="#"> <i class="material-icons" style="color:black;" >mode_edit</i></a>
              <a href="#"><i class="material-icons" style="color:black;">remove_red_eye</i></a>
              <a href="#"><i class="material-icons" style="color:black;">delete_forever</i></a>
              <a href="#"><i class="material-icons" style="color:black;">share</i></a>
                </div>
              </div>
          </div>
      </div>
      


                                <!--Block 2-->

      <div class="col s6 m6 l4">
          <div class="card small white">
            <div class="card-content wite-text " style="background-color:#e0e0e0;">
              <span class="card-title">Card Title</span>
            </div>
              <div class="card-content wite-text " style="border:gray;margin-bottom:10px;min-height: 53%;">
                  <div class="center-align">
                        <p>Carte : EEEEE</p> <!-- Nom de la carte -->
                        <p> X</p> <!-- Nombre de réponses -->
                        <p>Réponse(s) </p> 
                        <br/>

                        <!-- Switch -->

                        <div class="switch" >
                            <label>
                              Off
                              <input type="checkbox">
                              <span class="lever"></span>
                              Publié
                            </label>
                        </div>
                  </div>
              </div>
              <div class="card-action deep-purple lighten-2"  >
                <div  class="center-align" >
              <a href="#"> <i class="material-icons" style="color:black;" >mode_edit</i></a>
              <a href="#"><i class="material-icons" style="color:black;">remove_red_eye</i></a>
              <a href="#"><i class="material-icons" style="color:black;">delete_forever</i></a>
              <a href="#"><i class="material-icons" style="color:black;">share</i></a>
                </div>
              </div>
          </div>
      </div>
      

                                <!--Block 3-->

      <div class="col s6 m6 l4">
          <div class="card small white">
            <div class="card-content wite-text " style="background-color:#e0e0e0;">
              <span class="card-title">Card Title</span>
            </div>
              <div class="card-content wite-text " >
                  <div class="center-align ">
                        <p>Carte : EEEEE</p> <!-- Nom de la carte -->
                        <p> X</p> <!-- Nombre de réponses -->
                        <p>Réponse(s) </p> 
                      

                        <!-- Switch -->

                        <div class="switch" >
                            <label>
                              Off
                              <input type="checkbox">
                              <span class="lever"></span>
                              Publié
                            </label>
                        </div>
                  </div>
              </div>
              <div class="card-action deep-purple lighten-2"  >
                <div  class="center-align" >
              <a href="#"> <i class="material-icons" style="color:black;" >mode_edit</i></a>
              <a href="#"><i class="material-icons" style="color:black;">remove_red_eye</i></a>
              <a href="#"><i class="material-icons" style="color:black;">delete_forever</i></a>
              <a href="#"><i class="material-icons" style="color:black;">share</i></a>
                </div>
              </div>
          </div>
      </div>
      
       
      
      
      
      
      </div>

  </div>


<style>
#color-purple{
  background-color: #8f7cbc;
}

#logo-versus{
  height:400px;
  margin-top:-140px;
  margin-left:-250px;
}
#text-logo{
  margin-top:30px;
  margin-left:155px;
}

#text-titre{
  margin-top:30px;
}

#gray-color{
  background-color:#f5f5f5;
}

#bloc-gauche{
  margin-left:50px;
  margin-top:60px;
  position:relative;
}
#bloc-image{
  border:solid;
  width:220px;
  height:220px;
}

#button-upload{
  background-color:#9e9e9e;
  font-size:14px;
  position:absolute;
}
#file-url{
  width:350px;
  position:absolute;

}

#card-menu{
  background-color:white;
  color:black;
  margin-top:70px;
  width:250px;
  font-size:14px;
}

#form-bloc{
  margin-top:40px;
  position:relative;
}

#margin-rightSide{
  margin-right:30px;
}

#username_css{
  margin-right:30px;
}

#logo-user{
  margin-right:30px;
}

    body {

     flex-direction: column;

    
    }

    .row{
      margin-bottom: 0px;
      margin-top: -20px;

    }



</style>

<!--<footer class="page-footer" style="background-color:#f5f5f5;">>
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
        


-->

  </html>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
      <script type="text/javascript">$(".dropdown-button").dropdown();</script>
      <script type="text/javascript">(function($) {
                  $(function() {

              $('.dropdown-button').dropdown({
                    inDuration: 300,
                    outDuration: 225,
                    hover: true, // Activate on hover
                    belowOrigin: true, // Displays dropdown below the button
                    alignment: 'right' // Displays dropdown with edge aligned to the left of button
                  }
                );

                  }); // End Document Ready
              })(jQuery); // End of jQuery name space
      </script>