<nav class="nav-extended" style="background-color:8f7cbc;">
	<div class="nav-wrapper">
		<img data-activates="mobile-demo" class="brand-logo " style="height:400px;margin-top:-140px;margin-left:-250px;"  src="{{ asset('assets/img/logo_blanc.png')}}" />
	  <a href="#!" class="brand-logo "  style="margin-top:30px;margin-left:155px">Versus</a>
	  <a href="#!" class="brand-logo center"  style="margin-top:30px">Création de sondage</a>
	  <ul class="right hide-on-med-and-down">
	  	     <a href="#" ><img src="{{ asset('assets/img/ic_supervisor_account_black_24dp_2x.png')}}"/></a>
	  </ul>
	</div>
	<div class="nav-content" style="height:50px;">

	</div>

</nav>