{% extends 'layout.html.twig' %}

{% block title %}Versus - Backend{% endblock %}

{% block body %}
    {% include 'backend/_nav.html.twig' %}

    <section>
        <h1>Page Backend</h1>

        <ul>
            <li><a href="{{ path('sondeursBackend') }}">Sondeurs</a></li>
            <li><a href="{{ path('sondagesBackend') }}">Sondages</a></li>
        </ul>
    </section>
{% endblock %}