{% extends 'layout.html.twig' %}

{% block title %}Versus - Backend{% endblock %}

{% block body %}
    {% include 'backend/_nav.html.twig' %}

    <section>
        <h1 class="thin">Page Backend</h1>

        <div class="row">
            <div class="col s12 m6">
                <article class="card">
                    <div class="card-content">
                        <span class="card-title">Sondages</span>
                        <p>Il y a {{ sondages|length }} sondages pour {{ reponses|length }} réponses</p>
                    </div>
                </article>
            </div>

            <div class="col s12 m6">
                <article class="card">
                    <div class="card-content">
                        <span class="card-title">Utilisateurs</span>
                        <p>Il y a {{ utilisateurs|length }} sondeurs enregistrés</p>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}