{% extends 'layout.html.twig' %}

{% block title %}Versus - Backend{% endblock %}

{% block body %}
    {% include 'backend/_nav.html.twig' %}
    <section>
        <h1 class="thin">Proposition</h1>

        <ul>
            <li><a href="{{ path('sondagesBackend') }}">Retour</a></li>
        </ul>

        <table class="centered">
            <thead>
            <tr>
                <th>Titre proposition</th>
                <th>Nombres de votes</th>
                <th>Supprimer</th>
            </tr>
            </thead>

            <tbody>
            {% for proposition in propositions %}
                <tr>
                    <td>{{ proposition.label }}</td>
                    <td>{{ proposition.reponses|length }}</td>
                    <td>
                        <a class="btn-floating btn-large waves-effect waves-light red" href="">
                            <i class="material-icons">clear</i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}